:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --ivory: rgb(253, 255, 226);
  --light-blue: rgb(131, 180, 255);
  --slate-blue: rgb(90, 114, 160);
  --midnight-blue: rgb(26, 33, 48);
}
